SemiStructureInvictusPost_stateMachine.yml

      dependsOn: WorkoutPostsTable
      name: SemiStructureInvictusPostStateMachine
      role:
        Fn::GetAtt: ["SemiStructuedPostStateMachineRole", "Arn"]
      definition: 
        Comment: "Pull WP Post from Invictus blog and process workout(s) to json"
        StartAt: GetPost
        States:
          GetPost:
            Type: Task
            Resource:
              Fn::GetAtt: [get_invictus_post, Arn]
            Next: StructurePosts_Map
          StructurePosts_Map: 
            Type: Map
            Next: NotifyWhenComplete
            Iterator: 
              StartAt: DumpPostToStagingBucket
              States:
              
                DumpPostToStagingBucket:
                  Type: Task
                  Resource: 
                    Fn::GetAtt: [dump_post_to_bucket, Arn]
                  Next: StripPostHTML

                StripPostHTML:
                  Type: Task 
                  Resource: 
                    Fn::GetAtt: [strip_post_html, Arn]
                  Next: GroupByDay

                GroupByDay:
                  Type: Task 
                  Resource: 
                    Fn::GetAtt: [group_post_by_day, Arn]
                  Next: GetDaySegments

                GetDaySegments: 
                  Type: Task 
                  Resource: 
                    Fn::GetAtt: [segment_days, Arn]
                  Next: SessionsToDateRecordsJSON
                  
                SessionsToDateRecordsJSON: 
                  Type: Task 
                  Resource: 
                    Fn::GetAtt: [sessions_to_date_records, Arn]
                  Next: CleanSessionRecords

                CleanSessionRecords: 
                  Type: Task 
                  Resource: 
                    Fn::GetAtt: [clean_session_records, Arn]
                  Next: PersistRecords

                PersistRecords: 
                  Type: Parallel
                  End: True
                  # Next: NotifyWhenComplete
                  Branches: 
                  - StartAt: WriteSessionsToDynamoDB_Map
                    States: 

                      WriteSessionsToDynamoDB_Map:
                        Type: Map
                        Iterator:
                          StartAt: StoreSessionToDB
                          States:
                            StoreSessionToDB: 
                              Type: Task 
                              Resource: "arn:aws:states:::dynamodb:putItem"
                              Parameters:
                                TableName: ${self:provider.environment.DYNAMODB_TABLE}
                                Item:
                                  session: 
                                    "S.$": "$.session"
                                  date: 
                                    "S.$" : "$.date"                      
                                  warm_up:
                                    "S.$" : "$.warm_up"
                                  segment_a:
                                    "S.$" : "$.segment_a"
                                  segment_b:
                                    "S.$" : "$.segment_b"
                                  segment_c:
                                    "S.$" : "$.segment_c"
                                  segment_d:
                                    "S.$" : "$.segment_d"
                                  segment_e:
                                    "S.$" : "$.segment_e" 
                              End: true
                        End: true
                        
                  - StartAt: SaveSessionRecordsToBucket
                    States:
                      SaveSessionRecordsToBucket: 
                        Type: Task 
                        Resource: 
                          Fn::GetAtt: [save_sessions_to_bucket, Arn]
                        End: true
    
          NotifyWhenComplete: 
            Type: Task
            Resource: "arn:aws:states:::sns:publish"
            Parameters: 
              # TopicArn: arn:aws:sns:us-east-1:670325714839:test
              Message: 
                Subject: "Invictus WOD DAG Completion"
                Name.$: "$$.Execution.Name"
                StartTime.$: "$$.Execution.StartTime"
                # WeeksProcessed.$: "$$.Execution.Input.posts_per_page"
              PhoneNumber: "+14012560086"
            End: true