SemiStructureInvictusPost_stateMachine.improved.yml
SemiStructureInvictusPost: 
  dependsOn: WorkoutPostsTable
  name: SemiStructureInvictusPostStateMachine
  role:
    Fn::GetAtt: ["SemiStructuedPostStateMachineRole", "Arn"]
      definition: 
        Comment: "Medallion ETL: Pull WP Post from Invictus blog, process through Bronze->Silver->Gold layers with idempotency"
        StartAt: GetPost
    States:
      GetPost:
        Type: Task
        Resource:
          Fn::GetAtt: [get_invictus_post, Arn]
        Retry:
          - ErrorEquals:
              - States.ALL
            IntervalSeconds: 2
            MaxAttempts: 3
            BackoffRate: 2.0
        Catch:
          - ErrorEquals:
              - States.ALL
            ResultPath: $.error
            Next: NotifyOnError
        Next: StructurePosts_Map
      
      StructurePosts_Map: 
        Type: Map
        ItemsPath: "$"
        MaxConcurrency: 1  # Process one post at a time for idempotency
        ResultPath: "$.processed_posts"
        Next: AggregateToGold
        Retry:
          - ErrorEquals:
              - States.ALL
            IntervalSeconds: 2
            MaxAttempts: 2
            BackoffRate: 2.0
        Iterator: 
          StartAt: DumpPostToStagingBucket
          States:
            
            DumpPostToStagingBucket:
              Type: Task
              Resource: 
                Fn::GetAtt: [dump_post_to_bucket, Arn]
              Retry:
                - ErrorEquals:
                    - States.ALL
                  IntervalSeconds: 1
                  MaxAttempts: 2
                  BackoffRate: 2.0
              Next: StripPostHTML

            StripPostHTML:
              Type: Task 
              Resource: 
                Fn::GetAtt: [strip_post_html, Arn]
              Retry:
                - ErrorEquals:
                    - States.ALL
                  IntervalSeconds: 1
                  MaxAttempts: 2
              Next: GroupByDay

            GroupByDay:
              Type: Task 
              Resource: 
                Fn::GetAtt: [group_post_by_day, Arn]
              Retry:
                - ErrorEquals:
                    - States.ALL
                  IntervalSeconds: 1
                  MaxAttempts: 2
              Next: GetDaySegments

            GetDaySegments: 
              Type: Task 
              Resource: 
                Fn::GetAtt: [segment_days, Arn]
              Retry:
                - ErrorEquals:
                    - States.ALL
                  IntervalSeconds: 1
                  MaxAttempts: 2
              Next: SessionsToDateRecordsJSON
              
            SessionsToDateRecordsJSON: 
              Type: Task 
              Resource: 
                Fn::GetAtt: [sessions_to_date_records, Arn]
              Retry:
                - ErrorEquals:
                    - States.ALL
                  IntervalSeconds: 1
                  MaxAttempts: 2
              Next: CleanSessionRecords

            CleanSessionRecords: 
              Type: Task 
              Resource: 
                Fn::GetAtt: [clean_session_records, Arn]
              Retry:
                - ErrorEquals:
                    - States.ALL
                  IntervalSeconds: 1
                  MaxAttempts: 2
              Next: PersistRecords

            PersistRecords: 
              Type: Parallel
              End: True
              Branches: 
              - StartAt: WriteSessionsToDynamoDB_Map
                States: 
                  WriteSessionsToDynamoDB_Map:
                    Type: Map
                    ItemsPath: "$"
                    MaxConcurrency: 5
                    Iterator:
                      StartAt: StoreSessionToDB
                      States:
                        StoreSessionToDB: 
                          Type: Task 
                          Resource: "arn:aws:states:::dynamodb:putItem"
                          Parameters:
                            TableName: ${self:provider.environment.DYNAMODB_TABLE}
                            # Idempotency: Only insert if date+session doesn't exist
                            ConditionExpression: "attribute_not_exists(date) AND attribute_not_exists(session)"
                            Item:
                              session: 
                                "S.$": "$.session"
                              date: 
                                "S.$" : "$.date"                      
                              warm_up:
                                "S.$" : "$.warm_up"
                              segment_a:
                                "S.$" : "$.segment_a"
                              segment_b:
                                "S.$" : "$.segment_b"
                              segment_c:
                                "S.$" : "$.segment_c"
                              segment_d:
                                "S.$" : "$.segment_d"
                              segment_e:
                                "S.$" : "$.segment_e"
                          # Don't fail if item already exists (idempotency)
                          Retry:
                            - ErrorEquals:
                                - DynamoDB.ConditionalCheckFailedException
                              IntervalSeconds: 0
                              MaxAttempts: 0  # Don't retry on conditional check failure
                            - ErrorEquals:
                                - States.ALL
                              IntervalSeconds: 1
                              MaxAttempts: 2
                          Catch:
                            - ErrorEquals:
                                - DynamoDB.ConditionalCheckFailedException
                              ResultPath: "$.skipped"
                              Next: SessionSkipped
                          End: true
                        SessionSkipped:
                          Type: Pass
                          Result: "Session already exists, skipped"
                          End: true
                    End: true
                    
              - StartAt: SaveSessionRecordsToSilver
                States:
                  SaveSessionRecordsToSilver: 
                    Type: Task 
                    Resource: 
                      Fn::GetAtt: [save_sessions_to_bucket, Arn]
                    Retry:
                      - ErrorEquals:
                          - States.ALL
                        IntervalSeconds: 1
                        MaxAttempts: 2
                    End: true
      
      AggregateToGold:
        Type: Task
        Resource:
          Fn::GetAtt: [create_gold_layer_aggregations, Arn]
        InputPath: "$.processed_posts[0]"
        Retry:
          - ErrorEquals:
              - States.ALL
            IntervalSeconds: 2
            MaxAttempts: 2
            BackoffRate: 2.0
        Next: NotifyWhenComplete
      
      NotifyWhenComplete: 
        Type: Task
        Resource:
          Fn::GetAtt: [send_completion_email, Arn]
        Parameters:
          executionName.$: "$$.Execution.Name"
          executionStartTime.$: "$$.Execution.StartTime"
          executionStatus: "SUCCEEDED"
          message: "Invictus WOD ETL pipeline completed successfully"
        ResultPath: "$.notification"
        Retry:
          - ErrorEquals:
              - States.ALL
            IntervalSeconds: 2
            MaxAttempts: 2
        End: true
      
      NotifyOnError:
        Type: Task
        Resource:
          Fn::GetAtt: [send_completion_email, Arn]
        Parameters:
          executionName.$: "$$.Execution.Name"
          executionStartTime.$: "$$.Execution.StartTime"
          executionStatus: "FAILED"
          error.$: "$.error"
          message: "Invictus WOD ETL pipeline failed"
        ResultPath: "$.errorNotification"
        Retry:
          - ErrorEquals:
              - States.ALL
            IntervalSeconds: 2
            MaxAttempts: 2
        End: true

